*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.heading {
  background-color: #6b46c1;
  padding: 6rem 1.8rem 20rem;

  &-title {
    font-weight: 800;
    color: #fff;
    margin-bottom: 2rem;
    line-height: 39px;
    font-size: 3rem;
  }

  &-text {
    font-weight: 500;
    color: #f7fafccc;
  }

  @media screen and (min-width: 720px) {
    text-align: center;
    padding-top: 8rem;

    &-title {
      font-size: 4.8rem;
      line-height: 6rem;
    }
  }
}

.pricing-container {
  padding-inline: 1.8rem;

  @media screen and (min-width: 1024px) {
    padding: 0;
  }

  .price-card {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    margin: -16rem auto 4rem;
    overflow: hidden;
    max-width: 700px;

    @media screen and (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      max-width: 80%;
    }

    .top-section,
    .bottom-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .top-section {
      background-color: #f0eafb;
      text-align: center;
      padding: 6rem 4rem;
      flex-grow: 1;

      h1,
      h2 {
        font-weight: 800;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 2.4rem;
      }

      h1 {
        font-size: 4.8rem;
      }

      p {
        font-weight: 500;
        letter-spacing: -0.01rem;
      }

      a {
        text-decoration: none;
        padding: 1.5rem;
        background-color: #805ad5;
        display: inline-block;
        min-width: 200px;
        margin-top: 4rem;
        color: #fff;
        font-size: 1.6rem;
        border-radius: 1.2rem;
        font-weight: 700;
      }
    }

    .bottom-section {
      padding: 4rem 2rem;
      background-color: #fff;
      flex-grow: 2;
      line-height: 2.8rem;

      @media screen and (min-width: 720px) {
        padding: 4rem;
      }

      .bullets {
        margin-top: 3rem;
        .bullet {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;

          &:last-of-type {
            margin-bottom: 0;
          }

          img {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.highlights {
  max-width: 700px;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-inline: 1.8rem;

  @media screen and (min-width: 1024px) {
    gap: 3rem;
    max-width: 80%;
    margin-top: 1rem !important;
  }

  .highligt {
    width: 30%;
    min-width: 300px;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    padding: 1.5rem 0;

    p {
      font-weight: 700;
    }
  }
}
